<%- include("partials/headerPre") %>
<style>
	body {
		background: url("https://pic.52112.com/180713/JPG-180713_468/LmDEQsZuSA_small.jpg");
		background-size: cover
	}
</style>
<%- include("partials/headerPost") %>
<%- include("partials/navbar") %>

<ul>
	<li></li>
	<li></li>
	<li></li>
	
</ul>

<%- include("partials/footer") %>