
<body class = "content" style = "width: 1500px;
    height: 800px;
    margin: 0px;
    background: beige
        margin: 0;
        padding: 0;
        background: url('https://pic.52112.com/180623/JPG-180623A_518/4y8LM47l27_small.jpg');
        repeat: no-repeat;
        background-attachment:fixed;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://pic.52112.com/180623/JPG-180623A_518/4y8LM47l27_small.jpg', sizingMethod='scale');
        -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://pic.52112.com/180623/JPG-180623A_518/4y8LM47l27_small.jpg', sizingMethod='scale');
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;">
<h1 style = "font-size: 80px;
    padding-top: 200px;
    text-align: center;
    color: #FFFFFF;">Login Action!</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username" style = "margin-left: 600px;
    border:1px ;
    width:300px;
    height:36px;
    display:block;
    border-radius:30px;
    text-align:center;
    margin-top:50px;
    font-size:24px;">
    <input type="password" name="password" placeholder="password" style = "margin-left: 600px;
    border:1px ;
    width:300px;
    height:36px;
    display:block;
    border-radius:30px;
    text-align:center;
    margin-top:50px;
    font-size:24px;">
	<div align="center" >
	<button type="submit" style = "background:#FC3;
    	width:100px;
   	height:80x;
   	border-radius:30px;
        width: 200px;
        padding:1px;
        background-color: #428bca;
        border-color: #357ebd;
        color: #fff;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        font-weight: 900;
        font-size:125%;
		margin-top: 20px">Login</button>
	</div>
     </form>
      <div style = "margin-left: 650px;
    margin-top:50px">
        <table>
     
        </table>
    </div>
<div style = "margin-top :30px">
    <a style = "margin-left: 625px;
padding-top: 50px;
				color:#FFFFFF;">if you don't have an account <a href="/signup">sign up here!</a></a>
</div>
</body>
