<%- include("partials/headerPre") %>
<%- include("partials/headerPost") %>
<%- include("partials/navbar") %>

<ul class="nav nav-tabs">
  	<li role="presentation" class="active"><a href="/te">Editor</a></li>
  	<li role="presentation"><a href="#">Version Control</a></li>
  	<li role="presentation"><a href="#">Crowdfunding</a></li>
	<li role="presentation"><a href="#">Manage Project</a></li>
</ul>
	

<%- include("partials/footer") %>