<%- include("partials/headerPre") %>
<style>
	body {
		background: url("https://pic.52112.com/180713/JPG-180713_468/LmDEQsZuSA_small.jpg");
		background-size: cover;
	}
</style>
<%- include("partials/headerPost") %>
<%- include("partials/navbar") %>
<h1>Homepage</h1>
<div class="container">
        <div class="jumbotron">
            <h1><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Action!</h1>
            <p>Action!, a web application focussed on online script sharing</p>
        </div>
		
	
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                <img src="https://uploadfile.huiyi8.com/up/a2/e3/83/a2e3832e52216b846c80313049591938.jpg" alt="">
                </div>    
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                <img src="https://uploadfile.huiyi8.com/up/a2/e3/83/a2e3832e52216b846c80313049591938.jpg" alt="">
                </div>    
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                <img src="https://uploadfile.huiyi8.com/up/a2/e3/83/a2e3832e52216b846c80313049591938.jpg" alt="">
                </div>    
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                <img src="https://uploadfile.huiyi8.com/up/a2/e3/83/a2e3832e52216b846c80313049591938.jpg" alt="">
                </div>    
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                <img src="https://uploadfile.huiyi8.com/up/a2/e3/83/a2e3832e52216b846c80313049591938.jpg" alt="">
                </div>    
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                <img src="https://uploadfile.huiyi8.com/up/a2/e3/83/a2e3832e52216b846c80313049591938.jpg" alt="">
                </div>    
            </div>
        </div>
    </div>
<%- include("partials/footer") %>